
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    title= pageTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    link(rel="icon", href=config.root + 'img/favicon.png')
  body
    .container.typo
      header.header
        nav
          ul.menu
            each url, label in theme.menu
              li.menu__item
                a(href=url)= __(label).toUpperCase()

      section.main
        if body
          div!= body
        else
          block content

      footer.footer
        span.footer__item= '©2017 ' + config.author
        span.footer__item Powered By #[a(href='http://hexo.io' target="_blank") Hexo]

    if theme.scripts != undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url)
