
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title= pageTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from config.yml
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    link(rel="icon", href=config.root + 'img/favicon.png')
  body
    #g-cntr.typo
        #g-hd
          nav
            ul.menu
              each url, label in theme.menu
                li.menu-item
                  a(href=url)= __(label).toUpperCase()
        #g-bd
          #g-bd-inner
            if body
              div!= body
            else
              block content
        #g-ft
          #g-ft-inner
            div.ft-item= '©2016  ' + config.author
            div.ft-item
                | Powered By 
                a(href='http://hexo.io' target="_blank") Hexo

    if theme.scripts != undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url)
