
mixin listItem(article, type)
  - var clazz = 'post-list-item'
  - var clazzs = [ clazz ];
  - if (type) { clazzs.push(`${clazz}--${type}`) }

  div(class=clazzs)
    time(class=`${clazz}__time` datetime=date_xml(article.date))=date(article.date) + ' '
    
    if article.link
      a(href=url_for(article.link) target="_blank")= article.title || __('No Title')
    else
      a(href=url_for(article.path))= article.title || __('No Title')
