
mixin postItem(article, type, tag)
  - tag = tag || 'li'
  - var clazz = 'post-list-item'
  - var clazzs = [ clazz ];
  - if (type) { clazzs.push(`${clazz}--${type}`) }

  #{tag}(class=clazzs)&attributes(attributes)
    time(class=`${clazz}__time` datetime=date_xml(article.date))=date(article.date, __('format.post_list')) + ' '
    
    if article.link
      a.post-list-item__title(href=url_for(article.link) target="_blank")= article.title
    else
      a.post-list-item__title(href=url_for(article.path))= article.title
